}
.col img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 25px;
    margin-top: -6px;
    text-decoration: solid;
    font-weight: 600;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
    color: red;
    display:none;
}
.weather{
    display: none;
}